<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pboard">
  <insert id="insertpboard" parameterType="pboard">
  	insert into pboard values(seq_pboard.nextval,#{pboardId},#{pboardTitle},#{pboardContent},#{pboardWriter},default,default,0,#{pboardDivision})
  <!-- <selectKey keyProperty="pboardWriter" resultType="string" order="BEFORE">
	select member_name from  pboard join member on pboard.pboard_Id=member.member_sq
  </selectKey> --> 
  </insert>
  <insert id="insertAttachment" parameterType="attachment">
  insert into attachment values(seq_attach.nextval,#{pboardNo},#{originalFilename},#{renamedFilename},default,default)
   <selectKey keyProperty="pboardNo" resultType="_int" order="BEFORE">
 		select seq_pboard.currval from dual
  </selectKey>
  </insert>
  <select id="selectpboard" resultType="pboard">
  select * from pboard order by pboard_Date desc
  </select>
  
  <select id="selectOnepboard" parameterType="_int" resultType="pboard">	
  select *from pboard where pboard_no=#{pboardNo}
  </select>
  <delete id="deletepboard" parameterType="_int" >
  delete from pboard where pboard_no=#{no}
  </delete>
  <select id="selectattachment"  parameterType="_int" resultType="attachment">
  select * from attachment where pboard_no=#{no}
  </select>
  <update id="updatepboard" parameterType="pboard" >
  update pboard set pboard_title=#{pboardTitle},pboard_content=#{pboardContent} where pboard_no=#{pboardNo}
  </update>
  <update id="updateattachment" parameterType="attachment">
  update attachment set originalFilename=#{originalFilename},renamedFilename=#{renamedFilename} where pboard_no=#{pboardNo}
  </update>
  <select id="selectmemberno" parameterType="string" resultType="_int">
  select member_sq from member where member_email=#{email}
  </select>
  <insert id="insertcomment" parameterType="comment" >
  insert into pcomment values(seq_pcoment.nextval,#{pboardNo},#{pcommentContent},#{memberSq},default,#{memberName})
  </insert>
  <select id="selectcommentlist" parameterType="_int" resultType="comment">
  select * from pcomment where pboard_no=#{no} order by pcomment_date desc
  </select>
  <delete id="deletecomment">
  delete pcomment where pcomment_no=#{no}
  </delete>
  <!--조회수 증가 로직-->
  <update id="updatacount" parameterType="_int">
  update pboard set pboard_count=pboard_count+1 where pboard_no=#{no}
  </update>
  <!--답글이 달리면 답변여부 상태 변경-->
  <update id="updatecommentstatus" parameterType="_int">
  update pboard set pboard_status = 'Y' where pboard_no=#{no}
  </update>
  <update id="updatecommentnstatus" parameterType="_int">
  update pboard set pboard_status = 'N' where pboard_no=#{pboardNo}
  </update>
  <update id="updatecomment"   parameterType="java.util.HashMap">
  update pcomment set pcomment_content =#{pcommentcontent} where pcomment_no=#{pcommentNo}
  </update>
  <!--게시글 조회시에 댓글 갯수 확인으로 답변 체크-->
  <select id="selectcomment" parameterType="_int" resultType="_int">
  select count(*) from pcomment where pboard_no=#{pboardNo}
  </select>
</mapper>
