<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="refSite">

	<!-- 사이트 글 작성  -->
	<insert id="insertSite" parameterType="map">
		INSERT INTO REF_SITE VALUES (
										SEQ_REF_SITE_NO.NEXTVAL,
										#{refCategory},
										#{refTitle},
										#{refContent},
										#{refSiteAddr},
										DEFAULT,
										1,
										#{MemberNum},
										DEFAULT
										)
	</insert>
   
	<!--첨부파일 등록  -->
	<insert id="insertAttachment" parameterType="referenceSiteAttach">
		INSERT INTO REF_SITE_ATTACHMENT VALUES(
										SEQ_REF_ATTACHMENT_NO.NEXTVAL,
										#{refNo},
										#{originalfilename},
										#{renamedfilename},
										DEFAULT,
										DEFAULT
										)
										
	  <!-- 첨부파일 등록시 게시판 등록 번호를 자동생성키 SELECT KEY 로 설정 -->	
	  <selectKey keyProperty="refNo" resultType="_int" order="BEFORE">
	    SELECT SEQ_REF_SITE_NO.CURRVAL FROM DUAL
	  </selectKey>
	</insert>
	
	<!--리스트 불러오기  -->
	<select id="selectList" resultType="referenceSite">
		SELECT * FROM REF_SITE ORDER BY REF_NO DESC
	</select>
	
	<!--미승인 리스트 불러오기 (관리자용 페이지) -->
	<select id="selectListNo" resultType="referenceSite">
		SELECT * FROM REF_SITE WHERE STATUS='N' ORDER BY REF_NO DESC
	</select>
	
	<!-- 리스트 이미지 불러오기 -->
	<select id="selectImage" parameterType="_int" resultType="referenceSiteAttach">
		SELECT* FROM REF_SITE_ATTACHMENT WHERE REF_NO=#{no}
	</select>
	
	<!-- 첨부파일 selectOne -->
	<select id="selectAttach" parameterType="_int" resultType="referenceSiteAttach">
		SELECT* FROM REF_SITE_ATTACHMENT WHERE REF_NO=#{refNo}
	</select>
	
	<!-- 상세화면 selectOne -->
	<select id="selectOne" parameterType="_int" resultType="referenceSite">
		SELECT* FROM REF_SITE WHERE REF_NO=#{refNo}
	</select>
	
	<!-- 등록 사이트 삭제하기 -->
	<delete id="deleteSite" parameterType="_int">
		DELETE FROM REF_SITE WHERE REF_NO=#{refNo}
	</delete>
	
	
	<!-- 게시판 업데이트 -->
	<update id="updateSite">
		UPDATE REF_SITE SET
										REF_CATEGORY=#{refCategory},
										REF_TITLE=#{refTitle},
										REF_CONTENT=#{refContent},
								     	REF_SITE_ADDR=#{refSiteAddr}
								WHERE REF_NO=#{refNo}		
	</update>
	
	<!-- 첨부파일 업데이트 -->
	<update id="updateAttachment">
		UPDATE REF_SITE_ATTACHMENT SET
												ORIGINALFILENAME=#{originalfilename},
												RENAMEDFILENAME=#{renamedfilename}
										WHERE REF_NO=#{refNo}
	</update>
	
	<!-- 첨부파일 insert2(게시판 update시 첨부파일이 없을경우) -->
	<insert id="insertAttachment2" parameterType="ItnewsAttachment">
			INSERT INTO REF_SITE_ATTACHMENT VALUES(
											#{attachmentNo},
											#{refNo},
											#{originalfilename},
											#{renamedfilename},
											DEFAULT,
											DEFAULT
											)
	</insert>
	
	<!-- 사이트 관리자 승인시 status N->Y 변경  -->
	<update id="updateStatus" parameterType="_int">
			UPDATE REF_SITE SET STATUS ='Y' WHERE REF_NO=#{refNo}
	</update>
	
	<!-- 글작성 수 조회 -->
	<select id="selectCount" resultType="_int">
			SELECT COUNT(*) FROM REF_SITE WHERE STATUS='N'
	</select>
	
	


	
</mapper>


	