<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rboard">

  <!-- 이력서 게시판 리스트 -->
  <select id="selectListRboard" resultType="rboard">
  	SELECT * FROM RBOARD ORDER BY RBOARD_NO DESC
  </select>
  
  <!-- 이력서 게시판 상세보기 -->
  <select id="selectRboard" parameterType="_int" resultType="rboard">
	SELECT * FROM RBOARD WHERE RBOARD_NO=#{rboardNo}
  </select>
  
  <!-- 이력서 게시판 조회수 증가 -->
  <update id="updateRboardCount" parameterType="_int">
	UPDATE RBOARD SET
		RBOARD_COUNT=RBOARD_COUNT+1
	WHERE RBOARD_NO=#{rboardNo}
  </update>
	
  <!-- 이력서 게시판 상세보기 (첨부파일 가져오기) -->
  <select id="selectRboardAttachment" resultType="rboard_attachment" parameterType="_int">
	SELECT * FROM RBOARD_ATTACHMENT WHERE RBOARD_NO=#{rboardNo}
  </select>
  
  <!-- 이력서 게시판 글 등록 -->
  <insert id="insertRboard" parameterType="rboard">
  	INSERT INTO RBOARD VALUES(
  		RBOARD_SEQ_NO.NEXTVAL,
  		#{rboardId},
  		#{rboardTitle},
  		#{rboardContent},
  		#{rboardWriter},
  		DEFAULT,
  		DEFAULT,
  		DEFAULT
  	)
  </insert>
  
  <!-- 이력서 게시판 첨부파일 등록 -->
  
  <insert id="insertAttachment" parameterType="rboard_attachment">
  		INSERT INTO RBOARD_ATTACHMENT VALUES(
  			RBOARD_ATTACHMENT_SEQ_NO.NEXTVAL,
  			#{rboardNo},
  			#{originalFilename},
  			#{renamedFilename},
  			DEFAULT,
  			DEFAULT	
  		)
  		<selectKey keyProperty="rboardNo" resultType="_int" order="BEFORE">
	 		SELECT RBOARD_SEQ_NO.CURRVAL FROM DUAL
	  	</selectKey>	
  </insert>
  
  
  <!--이력서 컨설팅 게시물 등록 (기존의 첨부파일 없는 경우)-->
	<insert id="insertRboardAttachment" parameterType="rboard_attachment">
		INSERT INTO RBOARD_ATTACHMENT VALUES(
  			RBOARD_ATTACHMENT_SEQ_NO.NEXTVAL,
  			#{rboardNo},
  			#{originalFilename},
  			#{renamedFilename},
  			DEFAULT,
  			DEFAULT				
		)
	</insert>
	
	<!-- 이력서 컨설팅 게시물 수정 -->	
	<update id="updateRboard" parameterType="rboard">
		UPDATE RBOARD SET
			rboard_TITLE=#{rboardTitle},
			rboard_CONTENT=#{rboardContent}
		WHERE rboard_NO=#{rboardNo}
	</update>
	
	<!-- 이력서 컨설팅 게시물 수정 (첨부파일 있는 경우)-->	
	<update id="updateRboardAttachment" parameterType="rboard_attachment">
		UPDATE RBOARD_ATTACHMENT SET
			ORIGINAL_FILENAME=#{originalFilename},
			RENAMED_FILENAME=#{renamedFilename}
		WHERE RBOARD_NO=#{rboardNo}
	</update>
	
	<!-- 이력서 컨설팅 게시물 삭제 -->
	<delete id="deleteRboard" parameterType="_int">
			DELETE FROM RBOARD WHERE RBOARD_NO=#{rboardNo}
	</delete>
	
	<!-- 이력서 게시판 리스트 -->
	 <select id="selectConsultant" resultType="consult_attachment_all">
	  	SELECT * FROM CONSULT a
		left outer join consult_attachment b
		on a.consult_no=b.consult_no
		ORDER BY a.CONSULT_NO DESC
	 </select>
	 
	 <!-- 나의 이력서 게시판 리스트 -->
	 <select id="selectConsultantOne" resultType="consult_attachment_all" parameterType="_int">
	  	SELECT * FROM CONSULT a 
	  	left outer join consult_attachment b
	  	on a.consult_no=b.consult_no
	  	where member_sq=#{memberSq}
	  	ORDER BY a.CONSULT_NO DESC
	 </select>
	 
	<!-- 이력서 전문가 신청 파일첨부 가져오기 -->
	  <select id="selectConsultAttachment" resultType="consult_attachment" parameterType="_int">
		SELECT * FROM CONSULT_ATTACHMENT WHERE CONSULT_NO=#{consultNo}
	  </select>
	  
	<!-- 이력서 전문가 신청 승인여부 수정하기 -->	
	<update id="updateConsultApproval" parameterType="consult">
		UPDATE CONSULT SET
			CONSULT_APPROVAL=#{consultApproval}
		WHERE CONSULT_NO=#{consultNo}
	</update>
	
	
	<!-- 이력서 게시판 댓글 리스트 -->
	 <select id="selectRboardComment" resultType="rboard_comment" parameterType="_int">
	  	SELECT * FROM RBOARD_COMMENT WHERE RBOARD_NO=#{rboardNo}
	 </select>
	 
	 <!-- 댓글 등록 -->
	  <insert id="insertRboardComment" parameterType="rboard_comment">
	  	INSERT INTO RBOARD_COMMENT VALUES(
	  		RBOARD_COMMENT_SEQ_NO.NEXTVAL,
	  		#{rboardNo},
	  		#{memberSq},
	  		#{memberName},
	  		#{rboardCommentContent},
	  		DEFAULT
	  	)
	  </insert>
	  
	 <!-- 댓글 삭제 -->
	<delete id="deleteRboardComment" parameterType="_int">
		DELETE FROM RBOARD_COMMENT WHERE RBOARD_COMMENTNO=#{rboardCommentNo}
	</delete>
		
	<!-- 댓글수정하기  -->
	<update id="updateRboardComment" parameterType="java.util.HashMap">
		UPDATE RBOARD_COMMENT SET 
		RBOARD_COMMENT_CONTENT=#{rboardCommentContent}
		WHERE RBOARD_COMMENTNO=#{rboardCommentno}
	</update>
</mapper>
